@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}